*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}
body{
 font-family: DM Sans;
}
.hero-section{
 background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);
 padding-left: 140px;
 padding-right: 140px;
 height: 860px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0rem;
  /* position: relative; */
  /* padding-left: 140px; */
  /* padding-right: 140px; */
  align-items: center;
  /* padding-top: 30px; */
 }
 .hamburger {
   display: none;
   color: #fff;
   font-size: 50px;
   font-weight: bolder;
  position: absolute;
  right: -50px;
  cursor: pointer;
 }
 .close{
   display: none;
   font-size: 50px;
   font-weight: bolder;
   color: #fff;
   cursor: pointer;
 }
 
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
 
 }
 
 .nav-links {
  margin-left: 2.5rem;
  color: #fff;
 }
 
 .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: relative; */
  
 }
 
 .menu .nav-item {
   list-style-type: none;
   /* position: relative; */
 }
 
 
 
 
 .menu li{
   list-style-type: none;
 }
 .menu a{
   text-decoration: solid;
 }
 
 .navbar button{
  margin-left: 2rem;
  background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
 border-radius: 4px;
 width: 95px;
 height: 38px;
 padding: 0.7rem;
 border: none;
 color: #fff;
 
 }
 .landing-menu{
   display: none;
 }
 .sub-pages{
  display: none;
 }
 
 .dropdown{
  /* align-items: center; */
  color: gold;
  text-decoration: none;
  margin-left: 2.5rem;
  /* margin-top: 0px; */
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 10px;
  color: gold;
  /* position: relative; */
  position: absolute;
  /* top: 100px; */
 }
 .sub-hero-circle{
  display: flex;
  justify-content: space-between;
 
 }
 .hero-content{
  color: #fff;
  
 }
 .hero-content h1{
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  width: 534px;
  margin-top: 180px;
 }
 
 .hero-content .ehya{
  margin-top: 32px;
 font-size: 16px;
 font-weight: 400;
 line-height: 26px;
 width: 459px;
 }
 .fl{
  margin-top: 32px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 42px; */
  margin-bottom: 173px;
 }
 .btn-fl{
  width: 197px;
  height: 57px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  color: rgba(0, 168, 219, 1);
 font-size: 16px;
 font-weight: 500px;
 }
.col{
 text-decoration: none;
 color: white;
}
.col:hover{
 text-decoration: underline;
 color: gold;
}
/* .hero-img{
 margin-top: 208px;
} */
.overview{
 position: absolute;
 top: 180px;
 right: 0;
}
.shape{
  position: relative;
  top: 40px;
  left: -80px;
}

.patners{
 display: flex;
 margin-top: 128px;
 justify-content: space-between;
 margin-left: auto;
 margin-right: auto;
 width: 70%;
}
.patners2{
 display: flex;
 margin-left: 140px;
justify-content: space-between;
margin-right: 140px;

 position: relative;
}
.phone{
  margin-top: 125px;
  border-radius: 0px;
}
.parabolic{
 position: absolute
}
.iphone{
  display: none;
}

.patners2-content h3{
 color: rgba(3, 77, 130, 1);
 margin-top: 200px;
font-size: 36px;
font-weight: 700;
line-height: 52px;
max-width: 390px;

}

.patners2-content p{
margin-top: 24px;
color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;
line-height: 32px;
max-width: 485px;
}
.patners2-content .ll{
 color: rgba(4, 170, 221, 1);
font-size: 16px;
font-weight: 700;
color: #04AADD;
text-decoration: none;
}
.patners2-content .ll:hover{
 text-decoration: underline;
 color: gold;
}

.section3{
 display: flex;
 padding-left: 140px;
 margin-top: 200PX;
 gap: 50px;
 margin-bottom: 80px;
}
.section3 .sch{
 width: 446px;
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700;
line-height: 52px;
}
.section3 .pub{
 color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;
line-height: 32px;
max-width: 485px;
margin-top: 24.15px;
}

.bull{
 color: rgba(144, 163, 180, 1);
 margin-top: 24px;
}
.bull p{
  margin-top: 10px;
}
.bull .same{
 margin-right: 15px;
}

.tt .lea{
 margin-top: 32.72px;
 color: rgba(4, 170, 221, 1);
font-size: 16px;
font-weight: 700px;
text-decoration: none;
}

.tt .lea:hover{
 text-decoration: underline;
 color: gold;
}

.tt-image img{
 max-width: 100%;
 height: auto;
}
.section4{
 background-color: rgba(239, 251, 255, 1)
}
.section4 h2{
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700px;
line-height: 52px;
padding-top: 80px;
text-align: center;
}

.section4 p{
 color: rgba(142, 169, 193, 1);
font-size: 16px;
font-weight: 400px;
line-height: 32px;
text-align: center;
justify-content: center;
margin-top: 24px;
}

.flexx{
 display: flex ;
 justify-content: space-between;
 flex-wrap: wrap;
 padding-left: 140px;
 margin-top: 56px;
 width: 90%;
}
.flexxx{
 width: 259px;
 height: 300px;
 background-color: #ffffff;
 border-radius: 8px;
 padding: 28px 33px 77px 28px;
 margin-bottom: 80px;
}
.flex-tit{
 color: rgba(3, 77, 130, 1);
font-size: 20px;
font-weight: 700px;
line-height: 32px;

}
.flexxx .flex-p{
 color: rgba(142, 169, 193, 1);
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.section5{
 padding-left: 140px;
 padding-right: 140px;
 margin-bottom: 176px;
}
.section5-1{
 display: flex;
 margin-top: 130px;

 justify-content: space-between;
 margin-bottom: 100px;
}
.review{
 margin-left: 40px;
 margin-top: 14px;
}
.review p{
 width: 463px;
 color: rgba(144, 163, 180, 1);
font-size: 16px;
font-style: italic;
font-weight: 400px;
line-height: 32px;

}

.testimonial {
    position: relative;
  }
  .mySlides {
    display: flex;
    flex-direction: row;
    padding: 30px;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev{
    position: absolute;
    left: -40px;
  }

  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: #034D82;;
    color: white;
    border-radius: 50%;
  }
  .dot-container {
    padding: 20px;
  }
  

  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
  }
  

  .active, .dot:hover {
    background-color: #717171;
  }

.testimonial-image{
 margin-left: 10px;
}
.name{

 margin-left: 10px;
 width: 300px;
}
.name h3{
 color: rgba(3, 77, 130, 1);
font-size: 20px;
font-weight: 700;
margin-bottom: 10px;

}
.name p{
 color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;

}
.sub-sec5 h3{
 width: 463px;
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700;
line-height: 52px;
}
.sub-sec5 .from{
 margin-top: 24px;
 color: #90A3B4;
 font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
width: 421px;

}
.sub-section5{
 background: linear-gradient(270.04deg, #01B8D9 0.05%, #24CEED 97.84%);
 border-radius: 8px;
}
.sub-sub{
 display: flex;
}
.sub51{
 color: #FFFFFF;
}

.sub51 .gr{
font-size: 36px;
font-weight: 700;
line-height: 44px;
width: 355px;
margin-top: 65px;
margin-left: 72px;
}

.sub51 p:nth-child(even){
 width: 271px;
font-size: 14px;
font-weight: 500;
line-height: 32px;
margin-top: 20px;
margin-left: 72px;
}

.sub-section5 .immg{
 display: flex;
 margin-left: 72px;
 gap: 104px;
 margin-top: 10px;
 align-items: center;
 margin-bottom: 64px;
}
.item1{
 position: absolute;
 left: 235px;
}
.item2{
 position: absolute;
 left: 258px;
}
.item3{
 position: absolute;
 left: 281px;
}
.item4{
 position: absolute;
 left: 304px;
}
.an {
 font-size: 14px;
 font-weight: 500px;
}
.sub52-btnc{
 position: absolute;
}

.sub52-btn{
 width: 204px;
 height: 57px;
 background-color: #FFFFFF;
 border: none;
 position: relative;
 top: 160px;
 left: 650px;
 color: rgba(0, 184, 217, 1);
 border-radius: 4px;
 
}
footer{
 background-color: rgba(8, 19, 21, 1);
 
}
.footer1{
 display: flex;
 flex-wrap: wrap;
 padding-left: 140px;
 justify-content: space-between;
 width: 95%;
}
.foot{
 padding-top: 88px;
 color: rgba(211, 214, 216, 1);
}
.foot a{
 display: flex;
 flex-direction: column;
 text-decoration: none;
 color: #fff;
}
.foot a:hover{
 text-decoration: underline;
 color: gold;
}
.fot1{
 margin-top: 20px;
font-size: 16px;
font-weight: 400px;
line-height: 28px;
}
.social-handles{
 margin-top: 32px;
}

.foote{
font-size: 18px;
font-weight: 700px;
color: #fff;
}
.fot{
 margin-top: 33px;
font-size: 16px;
font-weight: 400px;
}
.fote{
font-size: 16px;
font-weight: 400px;
margin-top: 25px;

}



.footer2{
 margin-top: 97px;
}
.footer2 img{
 position: relative;
 left: 750px;
}
.footer2 p{
 color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 700;
text-align: center;
padding-bottom: 74px;
}

/* mobile screen */
@media screen and (max-width: 768px) {
 .hero-section{
  padding-left: 20px;
  padding-right: 20px;
  height: 780px;
 }
 header{
  padding-top: 40px;
 }
 .hamburger{
  color: #fff;
  font-size: 35px;
  font-weight: bolder;
  display: block;
  position: absolute;
  right: 30px;
  top: 24px;
  cursor: pointer;
 }
 .close{
  position: absolute;
 top: 24px;
 right: 30px;
 }
 .menu{
  display: none;
  right: 0px;
  justify-content: center;
  width: 300px;
  background-color: #262626;
  height: 88vh;
  border-radius: 20% 0 0 60%;
  flex-direction: column;
  position: absolute;
  top: 12vh;
  text-align: center;
 }
 .show-menu{
  display: block;
 }
 .nav-item {
  list-style-type: none;
  margin: 45px;
 }

 .nav-links{
  color: #eee;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  margin-top: 40px;
 }
 .nav-links::before, 
 .nav-links::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: antiquewhite;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition-delay: 0.5s;
 }

 .nav-links::after{
  bottom: 0;
  transform-origin: right;

 }
 .nav-links::before{
  top: 0px;
  transform-origin: left;
 }

 .nav-links:hover::before, 
 .nav-links:hover::after{
  transform: scaleX(1);
 }
 .hide-hamburger {
   display: none;
 }
 .show-close {
  display: block;
}
.deactive {
 display: none;
}
 .hero-content h1{
  margin-top: 20px;
  max-width: 280px;
 /* text-align: center; */
 }
 .hero-content .ehya{
  margin-top: 32px;
 width: 280px;
 }
 .hero-img{
  display: none;
 }
 .btn-fl{
  width: 125px;
 }
 /* .fl{
  margin-bottom: 20px;
  gap: 25px;
 } */
 .section2{
  width: 320px;
 }
 .patners{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap:40px
 }
 .patners2{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
 }

 .parabolic{
  width: 280px;
  position: absolute;
  left: -30px;

 }
 .phone-1{
   position: relative;
   width: 280px;
   left: -33px;
   display: none;
  }
  .iphone{
    display: block;
    position: relative;
    left: 87px;
    left: 45px;
    /* top: 1271px; */
    height: 300px;
   }
 .patners2-content{
  margin-left: -17px;
 }
 .patners2-content h3{
  color: rgba(3, 77, 130, 1);
  margin-top: 16px;
 width: 280px;
 text-align: center;
 
 }
 
 .patners2-content p{
 margin-top: 0px;
 color: rgba(144, 163, 180, 1);
 width: 280px;
 text-align: left;
 }
 .patners2-content .ll{
  width: 200px;
 }
 .section3{
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
 }
 .section3 .sch{
  margin-left: -22px;
  width: 290px;
  text-align: center;
 }
 .section3 .pub{
 width: 280px;
 /* margin-top: 10px; */
 }
 
 .bull{
  margin-bottom: 14px;
 }
 .bull .same{
  margin-right: 15px;
 }
 .lea{
  margin-top: 10px;
 }

 .tt-image{
  margin-top: 40px;
 }
 
 .section4 h2{
 padding-top: 30px;
 }
 
 .section4 p{
  margin-top: 24px;
  width: 290px;
  text-align: left;
  margin-left: 20px;
 }
 .flexx{
  display: block ;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 32px;
  width: 100%;
 }
 .flexxx{
  margin-bottom: 20px;
 }
 .flexxx img {
  padding-left: 70px;
 }
 .flex-tit{
  text-align: center;
  margin-top: 10px;
  
 }
 .flexxx .flex-p{
  width: 170px;
 }
 .section5{
  padding-left: 00px;
  padding-right: 0px;
  margin-bottom: -14px;
 }
 .section5-1{
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-bottom: 30px;
 }
 .sub-sec51{
  margin-top:  40px;
  position:relative;
  top: -74px;
 }
 .stars{
margin-left: 10px;
margin-top: 40px;
 }
 .review p{
  width: 300px;
  margin-left: -25px;
 }
 .arrow{
  display: none;
}
.sub-sec5 h3{
  width: 305px;
  text-align: center;
  margin-left: 5px;
}
.sub-sec5 .from{
  margin-top: 20px;
  width: 310px;
  margin-left: 8px;
}
 .sub-section5{
  position: relative;
  top: -70px;
 }
 .sub-sub{
  display: flex;
  flex-direction: column;
 }
 .sub51 .gr{
 margin-top: 15px;
 margin-left: 18px;
 width: 300px;
 }
 .sub51 p:nth-child(even){
 margin-top: 10px;
 margin-left: 18px;
 }
 
 .sub-section5 .immg{
  display: flex;
  margin-left: 18px;
 gap: 126px;
  margin-top: 10px;
  margin-bottom: 34px;
 }
 .item1{
  position: absolute;
  left: 46px;
 }
 .item2{
  position: absolute;
  left: 76px;
 }
 .item3{
  position: absolute;
  left: 102px;
 }
 .item4{
  position: absolute;
  left: 125px;
 }
 .an {
  font-size: 14px;
  font-weight: 500px;
 }
 .sub52-btnc{
  position: relative;
 
 }
 
 .sub52-btn{
  top: -20px;
  left: 58px;
 }
 .footer1{
  padding-left: 30px;
 }
 .foot{
  padding-top: 30px;
 }
 .fot1{
  margin-top: 10px;
 }
 .social-handles{
  margin-top: 20px;
 }
 
 .fot{
  margin-top: 15px;
 }
 .fote{
 margin-top: 15px;

 }
 
 .footer2{
  margin-top: 27px;
 }
 .footer2 img{
  position: relative;
  left: 135px;
 }
 .footer2 p{
 padding-bottom: 34px;
 }
}