*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}
body{
 font-family: DM Sans;
}
.hero-circle{
 background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);
 padding-left: 140px;
 padding-right: 140px;
 height: 860px;
}
header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 47px;
}
nav{
 display: flex;
 align-items: center;
}
nav ul{
 display: flex;
}
li{
 list-style-type: none;
}

nav a{
 text-decoration: none;
 color: #ffffff;
 margin-right: 44px;
}
nav a:hover{
 text-decoration: underline;
 color: gold;
}

.hamburger{
 display: none;
}

.btn1{
 background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
border-radius: 4px;
width: 95px;
height: 38px;
border: none;
}
.sub-hero-circle{
 display: flex;
 gap: 50px;

}
.hero-content{
 color: #fff;
 
}
.hero-content h1{
 font-family: DM Sans;
 font-size: 64px;
 font-weight: 700;
 line-height: 76px;
 width: 623px;
 margin-top: 180px;
}

.hero-content .ehya{
 margin-top: 32px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 459px;
}
.fl{
 margin-top: 32px;
 display:flex;
 align-items: center;
 gap: 42px;
 margin-bottom: 173px;
}
.btn-fl{
 width: 197px;
 height: 57px;
 background-color: #ffffff;
 border-radius: 4px;
 border: none;
 color: rgba(0, 168, 219, 1);
font-size: 16px;
font-weight: 500px;
}
.hero-img{
 margin-top: 208px;
 /* border: 2px solid gold; */
 width: 1038px;
 height: 712px;
}
.img1{
 padding-left: 141px;
 margin-top: 26px;
}
.img2{
position: relative;
 top:-500px

}
.img3{
 position: relative;
 top: -806px;
 right: -276px;
}

/* .section2{
 background-color: #E5E5E5;
} */

.patners{
 display: flex;
 margin-top: 128px;
 gap: 96.39px;
 margin-left: auto;
 margin-right: auto;
 width: 70%;
}
.patners2{
 display: flex;
 margin-left: 148px;
 gap: 192px;
 

}
.phone{
 margin-top: 222.4px;
border-radius: 0px;
width: 494px;
height: 550.85px;
}
.phone-2{
 position:absolute;
 left: 380px;
 margin-top: 10px;

}

.patners2-content h3{
 color: rgba(3, 77, 130, 1);
 margin-top: 311px;
font-size: 36px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0.30000001192092896px;
max-width: 390px;

}

.patners2-content p{
margin-top: 24px;
color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;
line-height: 32px;
max-width: 485px;
}
.patners2-content .ll{
 color: rgba(4, 170, 221, 1);
font-size: 16px;
font-weight: 700;

}

.section3{
 display: flex;
 padding-left: 140px;
 margin-top: 245.19PX;
 gap: 50px;
 margin-bottom: 163px;
}
.section3 .sch{
 width: 446px;
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700;
line-height: 52px;
}
.section3 .pub{
 color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;
line-height: 32px;
max-width: 485px;
margin-top: 24.15px;
}

.bull{
 color: rgba(144, 163, 180, 1);
 margin-top: 24px;
}
.bull .same{
 margin-right: 15px;
}

.tt .lea{
 margin-top: 32.72px;
 color: rgba(4, 170, 221, 1);
font-size: 16px;
font-weight: 700px;
}

.tt-image img{
 width: 100%;
 height: auto;
}
.section4{
 background-color: rgba(239, 251, 255, 1)
}
.section4 h2{
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700px;
line-height: 52px;
padding-top: 80px;
text-align: center;
}

.section4 p{
 color: rgba(142, 169, 193, 1);
font-size: 16px;
font-weight: 400px;
line-height: 32px;
text-align: center;
justify-content: center;
margin-top: 24px;
}

.flexx{
 display: flex ;
 gap: 36px;
 padding-left: 140px;
 margin-top: 76px;
}
.flexxx{
 width: 259px;
 height: 300px;
 background-color: #ffffff;
 border-radius: 8px;
 padding: 28px 33px 77px 28px;
 margin-bottom: 80px;
}
.flex-tit{
 color: rgba(3, 77, 130, 1);
font-size: 20px;
font-weight: 700px;
line-height: 32px;

}
.flexxx .flex-p{
 color: rgba(142, 169, 193, 1);
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.section5{
 padding-left: 140px;
 padding-right: 140px;
 margin-bottom: 176px;
}
.section5-1{
 display: flex;
 margin-top: 203px;
}
.sub-sec5 h3{
 width: 463px;
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700;
line-height: 52px;
}
.sub-sec5 .from{
 margin-top: 24px;
 color: #90A3B4;
 font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
width: 421px;

}
.sub-section5{
 /* width: 1101px; */
 /* height: 360px; */
 background: linear-gradient(270.04deg, #01B8D9 0.05%, #24CEED 97.84%);
 border-radius: 8px;
}
.sub-sub{
 display: flex;
 /* gap: 14.03px; */
}
.sub51{
 color: #FFFFFF;
}

.sub51 .gr{
font-size: 36px;
font-weight: 700;
line-height: 44px;
width: 355px;
margin-top: 65px;
margin-left: 72px;
}



.sub51 p:nth-child(even){
 width: 271px;
font-size: 14px;
font-weight: 500;
line-height: 32px;
margin-top: 20px;
margin-left: 72px;
}

.sub-section5 .immg{
 display: flex;
 margin-left: 72px;
 gap: 104px;
 margin-top: 10px;
 align-items: center;
 margin-bottom: 64px;
}
.item1{
 position: absolute;
 left: 235px;
}
.item2{
 position: absolute;
 left: 258px;
}
.item3{
 position: absolute;
 left: 281px;
}
.item4{
 position: absolute;
 left: 304px;
}
.an {
 font-size: 14px;
 font-weight: 500px;
}
.sub52-btnc{
 position: absolute;
}

.sub52-btn{
 width: 204px;
 height: 57px;
 background-color: #FFFFFF;
 border: none;
 position: relative;
 top: 160px;
 left: 950px;
 color: rgba(0, 184, 217, 1);
 border-radius: 4px;
 
}
footer{
 background-color: rgba(8, 19, 21, 1);
 
}
.footer1{
 display: flex;
 padding-left: 140px;
 gap: 90px;
 width: 95%;
}
.foot{
 padding-top: 88px;
 color: rgba(211, 214, 216, 1);
}
.fot1{
 margin-top: 20px;
font-size: 16px;
font-weight: 400px;
line-height: 28px;
}
.social-handles{
 margin-top: 32px;
}

.foote{
font-size: 18px;
font-weight: 700px;
color: #fff;
}
.fot{
 margin-top: 33px;
font-size: 16px;
font-weight: 400px;
}
.fote{
font-size: 16px;
font-weight: 400px;
margin-top: 25px;

}

.footer2{
 margin-top: 97px;
}
.footer2 img{
 position: relative;
 left: 750px;
}
.footer2 p{
 color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 700;
text-align: center;
padding-bottom: 74px;
}

@media screen and (max-width: 768px) {
 .hero-circle{
  padding-left: 50px;
  padding-right: 50px;
  height: 650px;
 }
 .hamburger{
  display: block;
 }
 nav{
  display: none;
 }
 .hero-content h1{
  margin-top: 20px;
  font-size: 64px;
 font-weight: 700;
 line-height: 76px;
 max-width: 423px;
 }
 .hero-content .ehya{
  margin-top: 32px;
 font-size: 16px;
 font-weight: 400;
 line-height: 26px;
 width: 350px;
 }
 .hero-img{
  display: none;
 }
 .fl{
  /* margin-top: 32px;
  display:flex;
  align-items: center;
  gap: 42px; */
  margin-bottom: 20px;
 }
 .patners{
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  align-items: center;
  margin-top: 40px;
 }
 .patners2{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 0px;
  /* flex-direction: column; */
 }

 .phone{
  margin-top: 50px;
 width: 434px;
 height: 50px;
 /* transform: translate(50%); */
 margin-left: auto;
 margin-right: auto;
 }
 .phone-1{
  width: 300px;
 }
 .phone-2{
  position:absolute;
  left: 210px;
  margin-top: 10px;
  width: 165px;
 }
 .patners2-content{
  margin-left: 50px;
 }
 
 .patners2-content p{
 margin-top: 10px;
 color: rgba(144, 163, 180, 1);
 max-width: 380px;
 }
 .section3{
  display: block;
  padding-left: 50px;
  margin-top: 80px;
  margin-bottom: 43px;
 }
 .section3 .sch{
  width: 446px;
  color: rgba(3, 77, 130, 1);
 font-size: 36px;
 font-weight: 700;
 line-height: 52px;
 }
 .section3 .pub{
  color: rgba(144, 163, 180, 1);
 font-size: 16px;
 font-weight: 400;
 line-height: 32px;
 width: 385px;
 margin-top: 10px;
 }
 
 .bull{
  margin-top: 14px;
 }
 .bull .same{
  margin-right: 15px;
 }

 .tt-image{
  margin-top: 40px;
  margin-left: 25px;
  width: 350px;
 }
 .flexx{
  display: block ;
  margin-top: 50px;
  margin-bottom: 30px;
 }
 
 .flexxx{
  margin-bottom: 20px;
 }
 
 }
 .section5{
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 46px;
 }
 .section5-1{
  display: block;
  margin-top: 50px;
 }
 .sub-sec5 h3{
  width: 400px;
  text-align: center;
 }
 .sub-sec5 .from{
 text-align: center;
 
 }
 .sub-sub{
  display: block;
 }
 
 .sub51 .gr{
  padding-top: 30px;
 /* width: 355px; */
 margin-top: 15px;
 margin-left: 40px;
 }
 
 .sub51 p:nth-child(even){
 margin-top: 5px;
 margin-left: 40px;
 }
 
 .sub-section5 .immg{
  margin-left: 40px;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 40px;
 }
 .item1{
  position: absolute;
  left: 120px;
 }
 .item2{
  position: absolute;
  left: 143px;
 }
 .item3{
  position: absolute;
  left: 166px;
 }
 .item4{
  position: absolute;
  left: 192px;
 }
 .an {
  margin-left: 15px;
 }
 .sub52-btnc{
  position: relative
 }
 
 .sub52-btn{
  position: relative;
  top: -30px;
  left: 80px;
  margin-bottom: 0px;
  
 }

 .footer1{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 100%;
  align-items: center;

 }
 .foot{
  padding-top: 20px;
 }
 .fot1{
  margin-top: 10px;
 font-size: 16px;
 font-weight: 400px;
 text-align: center;
 }
 .social-handles{
  margin-top: 32px;
 }
 
 .foote{
 font-size: 18px;
 font-weight: 700px;
 color: #fff;
 margin-top: 15px;
 }
 .foot a{
  color: #fff;
  display: block;
  text-decoration: none;
 }
 .foot a:hover{
  color: gold;
  cursor: pointer;
  text-decoration: underline;
 }
 .fot{
  margin-top: 8px;
 font-size: 16px;
 font-weight: 400px;
 }
 .fote{
 font-size: 16px;
 font-weight: 400px;
 margin-top: 10px;
 
 }
 
 .footer2{
  margin-top: 37px;
 }
 .footer2 img{
  position: relative;
  left: 200px;
 }
 .footer2 p{
 text-align: center;
 padding-bottom: 40px;
 }
}