*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
 /* overflow-x: hidden; */
}
body{
 font-family: DM Sans;
}
.hero-circle{
 background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);
 padding-left: 140px;
 padding-right: 140px;
 height: 860px;
}
header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 47px;
}
nav{
 display: flex;
 align-items: center;
}
nav .menu-list{
 display: flex;
}
li{
 list-style-type: none;
}

.menu-list a{
 text-decoration: none;
 color: #ffffff;
 margin-right: 44px;
}
.menu-list a:hover{
 text-decoration: underline;
 color: gold;
}
.sub-landing {
 display: flex;
 flex-direction: column;
 list-style-type: none;
 margin-top: 10px;
 color: gold;
 position: absolute;
}
.sub-landing li{
 margin-top: 10px;
}

.landing-menu {
 display: none;
}
.sub-pages{
 display: flex;
 flex-direction: column;
 list-style-type: none;
 margin-top: 10px;
 color: gold;
 position: absolute;
}
.sub-pages li{
 margin-top: 10px;
}
.pages-menu{
 display: none;
}

.hamburger{
 display: none;
}
.close{
 display: none;
}

.btn1{
 background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
border-radius: 4px;
width: 95px;
height: 38px;
border: none;
color: #fff;
font-size: 14px;
}
.col{
 text-decoration: none;
 color: white;
}
.col:hover{
 text-decoration: underline;
 color: gold;
}
.sub-hero-circle{
 display: flex;
 gap: 50px;
 /* justify-content: space-between; */

}
.hero-content{
 color: #fff;
 
}
.hero-content h1{
 font-family: DM Sans;
 font-size: 64px;
 font-weight: 700;
 line-height: 76px;
 width: 534px;
 margin-top: 180px;
}

.hero-content .ehya{
 margin-top: 32px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 459px;
}
.fl{
 margin-top: 32px;
 display:flex;
 align-items: center;
 gap: 42px;
 margin-bottom: 173px;
}
.btn-fl{
 width: 197px;
 height: 57px;
 background-color: #ffffff;
 border-radius: 4px;
 border: none;
 color: rgba(0, 168, 219, 1);
font-size: 16px;
font-weight: 500px;
}
.hero-img{
 margin-top: 208px;
}
.shape{
 position: absolute;
 top: 180px;
 /* left: 880px; */
 right: 0;
}

.patners{
 display: flex;
 margin-top: 128px;
 /* gap: 96.39px; */
 justify-content: space-between;
 margin-left: auto;
 margin-right: auto;
 width: 70%;
}
.patners2{
 display: flex;
 margin-left: 148px;
 gap: 192px;

}
.phone{
 margin-top: 125px;
border-radius: 0px;
width: 494px;
height: 550.85px;
}
.phone-2{
 position:absolute;
 left: 380px;
 margin-top: 10px;

}

.patners2-content h3{
 color: rgba(3, 77, 130, 1);
 margin-top: 200px;
font-size: 36px;
font-weight: 700;
line-height: 52px;
max-width: 390px;

}

.patners2-content p{
margin-top: 24px;
color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;
line-height: 32px;
max-width: 485px;
}
.patners2-content .ll{
 color: rgba(4, 170, 221, 1);
font-size: 16px;
font-weight: 700;
color: #04AADD;
text-decoration: none;
}
.patners2-content .ll:hover{
 text-decoration: underline;
 color: gold;
}

.section3{
 display: flex;
 padding-left: 140px;
 margin-top: 140PX;
 gap: 50px;
 margin-bottom: 80px;
}
.section3 .sch{
 width: 446px;
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700;
line-height: 52px;
}
.section3 .pub{
 color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;
line-height: 32px;
max-width: 485px;
margin-top: 24.15px;
}

.bull{
 color: rgba(144, 163, 180, 1);
 margin-top: 24px;
}
.bull .same{
 margin-right: 15px;
}

.tt .lea{
 margin-top: 32.72px;
 color: rgba(4, 170, 221, 1);
font-size: 16px;
font-weight: 700px;
text-decoration: none;
}

.tt .lea:hover{
 text-decoration: underline;
 color: gold;
}

.tt-image img{
 max-width: 100%;
 height: auto;
}
.section4{
 background-color: rgba(239, 251, 255, 1)
}
.section4 h2{
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700px;
line-height: 52px;
padding-top: 80px;
text-align: center;
}

.section4 p{
 color: rgba(142, 169, 193, 1);
font-size: 16px;
font-weight: 400px;
line-height: 32px;
text-align: center;
justify-content: center;
margin-top: 24px;
}

.flexx{
 display: flex ;
 /* gap: 36px; */
 justify-content: space-between;
 flex-wrap: wrap;
 padding-left: 140px;
 margin-top: 56px;
 width: 90%;
}
.flexxx{
 width: 259px;
 height: 300px;
 background-color: #ffffff;
 border-radius: 8px;
 padding: 28px 33px 77px 28px;
 margin-bottom: 80px;
}
.flex-tit{
 color: rgba(3, 77, 130, 1);
font-size: 20px;
font-weight: 700px;
line-height: 32px;

}
.flexxx .flex-p{
 color: rgba(142, 169, 193, 1);
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.section5{
 padding-left: 140px;
 padding-right: 140px;
 margin-bottom: 176px;
}
.section5-1{
 display: flex;
 margin-top: 130px;
 gap: 60px;
 margin-bottom: 100px;
}
.review{
 margin-left: 40px;
 margin-top: 14px;
}
.review p{
 width: 463px;
 color: rgba(144, 163, 180, 1);
font-size: 16px;
font-style: italic;
font-weight: 400px;
line-height: 32px;

}
.testimonial{
 display: flex;
 gap: 15px;
 margin-top: 20px;
}
.test{
 margin-left: 40px;
}
.name{
 margin-right: 30px;
}
.name h3{
 color: rgba(3, 77, 130, 1);
font-size: 20px;
font-weight: 700;

}
.name p{
 color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;

}
.sub-sec5 h3{
 width: 463px;
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700;
line-height: 52px;
}
.sub-sec5 .from{
 margin-top: 24px;
 color: #90A3B4;
 font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
width: 421px;

}
.sub-section5{
 background: linear-gradient(270.04deg, #01B8D9 0.05%, #24CEED 97.84%);
 border-radius: 8px;
}
.sub-sub{
 display: flex;
}
.sub51{
 color: #FFFFFF;
}

.sub51 .gr{
font-size: 36px;
font-weight: 700;
line-height: 44px;
width: 355px;
margin-top: 65px;
margin-left: 72px;
}

.sub51 p:nth-child(even){
 width: 271px;
font-size: 14px;
font-weight: 500;
line-height: 32px;
margin-top: 20px;
margin-left: 72px;
}

.sub-section5 .immg{
 display: flex;
 margin-left: 72px;
 gap: 104px;
 margin-top: 10px;
 align-items: center;
 margin-bottom: 64px;
}
.item1{
 position: absolute;
 left: 235px;
}
.item2{
 position: absolute;
 left: 258px;
}
.item3{
 position: absolute;
 left: 281px;
}
.item4{
 position: absolute;
 left: 304px;
}
.an {
 font-size: 14px;
 font-weight: 500px;
}
.sub52-btnc{
 position: absolute;
}

.sub52-btn{
 width: 204px;
 height: 57px;
 background-color: #FFFFFF;
 border: none;
 position: relative;
 top: 160px;
 left: 650px;
 color: rgba(0, 184, 217, 1);
 border-radius: 4px;
 
}
footer{
 background-color: rgba(8, 19, 21, 1);
 
}
.footer1{
 display: flex;
 flex-wrap: wrap;
 padding-left: 140px;
 /* gap: 90px; */
 justify-content: space-around;
 width: 95%;
}
.foot{
 padding-top: 88px;
 color: rgba(211, 214, 216, 1);
}
.foot a{
 display: flex;
 flex-direction: column;
 text-decoration: none;
 color: #fff;
}
.foot a:hover{
 text-decoration: underline;
 color: gold;
}
.fot1{
 margin-top: 20px;
font-size: 16px;
font-weight: 400px;
line-height: 28px;
}
.social-handles{
 margin-top: 32px;
}

.foote{
font-size: 18px;
font-weight: 700px;
color: #fff;
}
.fot{
 margin-top: 33px;
font-size: 16px;
font-weight: 400px;
}
.fote{
font-size: 16px;
font-weight: 400px;
margin-top: 25px;

}



.footer2{
 margin-top: 97px;
}
.footer2 img{
 position: absolute;
 left: 750px;
}
.footer2 p{
 color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 700;
text-align: center;
padding-bottom: 74px;
}

/* mobile screen */
@media screen and (max-width: 768px) {
 .hero-circle{
  padding-left: 50px;
  padding-right: 50px;
  height: 700px;
 }
 header{
  padding-top: 20px;
 }
 .hamburger{
  display: block;
  /* position: absolute; */
  /* top: 10px; */
  /* right: 30px; */
  cursor: pointer;
 }
 nav{
  display: none;
 }
 .close{
  font-size: 90px;
  position:absolute;
  top: -15px;
  right: 30px;
  color: #fff;
  display: block;

 }
 .close-times{
  display: none;
 } 

  .menu-listlink{ 
  display: none;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  } 
  .close{
  display: none;
  font-size: 50px;
  font-weight: bolder;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
 } 
  .menu{
  display: none;
 }
 .menu li {
    text-align: center;
    margin: 15px auto;
}
 .show{
  display: block;
 }
 .hide-hamburger{
display: none;
 }
  
  .show-close{
   display: inline;
   position: absolute;
   top: 30px;
   right: 40px;
  }
 
 .active{
  display: block;
 }


 
 .hero-content h1{
  margin-top: 20px;
  max-width: 379px;
 /* text-align: center; */
 }
 .hero-content .ehya{
  margin-top: 32px;
 width: 350px;
 }
 .hero-img{
  display: none;
 }
 /* .fl{
  margin-bottom: 20px;
  gap: 25px;
 } */
 .patners{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap:40px
 }
 .patners2{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
 }

 .phone{
  position: relative;
  margin-top: 50px;
 width: 434px;
 height: 0px;
 margin-left: auto;
 margin-right: auto;
 }
 .phone-1{
  width: 300px;
 }
 .phone-2{
  position:absolute;
  left: 155px;
  margin-top: 15px;
  width: 165px;
 }
 .patners2-content{
  margin-left: 10px;
 }
 .patners2-content h3{
  color: rgba(3, 77, 130, 1);
  margin-top: 190px;
 max-width: 390px;
 text-align: center;
 
 }
 
 .patners2-content p{
 margin-top: 0px;
 color: rgba(144, 163, 180, 1);
 max-width: 380px;
 text-align: left;
 }
 .section3{
  display: block;
  padding: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
 }
 .section3 .sch{
  margin-left: -50px;
  width: 446px;
  color: rgba(3, 77, 130, 1);
 font-size: 36px;
 font-weight: 700;
 line-height: 52px;
 text-align: center;
 }
 .section3 .pub{
  color: rgba(144, 163, 180, 1);
 font-size: 16px;
 font-weight: 400;
 line-height: 32px;
 width: 385px;
 margin-top: 10px;
 }
 
 .bull{
  margin-top: 14px;
 }
 .bull .same{
  margin-right: 15px;
 }

 .tt-image{
  margin-top: 40px;
 }
 
 .section4 h2{
 padding-top: 30px;
 }
 
 .section4 p{
 margin-top: 24px;
 }
 .flexx{
  display: block ;
  margin-top: 40px;
  margin-bottom: 30px;
 }
 .flexxx{
  margin-bottom: 20px;
 }
 .flexxx img {
  padding-left: 70px;
 }
 .flex-tit{
  text-align: center;
  margin: 10px;
 }
 .section5{
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: -14px;
 }
 .section5-1{
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-bottom: 30px;
 }
 .sub-sec51{
  margin-top:  40px;
  position:relative;
  top: -74px;
 }
 .review p{
  width: 350px;
 }
 .arrow{
  display: none;
 }
 .sub-section5{
  position: relative;
  top: -70px;
 }
 .sub-sec5 h3{
  width: 403px;
  text-align: center;
 }
 .sub-sec5 .from{
  margin-top: 24px;
 
 }
 .sub-sub{
  display: flex;
  flex-direction: column;
 }
 .sub51 .gr{
 margin-top: 15px;
 margin-left: 47px;
 }
 .sub51 p:nth-child(even){
 margin-top: 10px;
 margin-left: 47px;
 }
 
 .sub-section5 .immg{
  display: flex;
  margin-left: 47px;
 gap: 110px;
  margin-top: 10px;
  margin-bottom: 34px;
 }
 .item1{
  position: absolute;
  left: 75px;
 }
 .item2{
  position: absolute;
  left: 105px;
 }
 .item3{
  position: absolute;
  left: 131px;
 }
 .item4{
  position: absolute;
  left: 154px;
 }
 .an {
  font-size: 14px;
  font-weight: 500px;
 }
 .sub52-btnc{
  position: relative;
 }
 
 .sub52-btn{
  top: -20px;
  left: 80px;
 }
 .footer1{
  padding-left: 50px;
  gap: 50px;
 }
 .foot{
  padding-top: 30px;
 }
 .fot1{
  margin-top: 10px;
 }
 .social-handles{
  margin-top: 20px;
 }
 
 .fot{
  margin-top: 15px;
 }
 .fote{
 margin-top: 15px;

 }
 
 .footer2{
  margin-top: 27px;
 }
 .footer2 img{
  position: relative;
  left: 230px;
 }
 .footer2 p{
 padding-bottom: 34px;
 }
}