*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
body{
 font-family: Objective;
}

.hero-section{

 background: linear-gradient(-180deg, #4A99D3 -180%, rgba(74, 153, 211, 0) 76.31%), #FFFFFF;
 /* opacity: 0.2; */
 height: 509px;
 padding-left: 140px;
 padding-right: 140px;
}
header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 3rem 0rem;
 /* position: relative; */
 /* padding-left: 140px; */
 /* padding-right: 140px; */
 align-items: center;
 /* padding-top: 30px; */
}
.hamburger {
  display: none;
  color: #fff;
  font-size: 50px;
  font-weight: bolder;
 position: absolute;
 right: -50px;
 cursor: pointer;
}
.close{
  display: none;
  font-size: 50px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 /* position: absolute; */

}

.nav-links {
 margin-left: 2.5rem;
 color: black;
}

.menu {
 display: flex;
 align-items: center;
 justify-content: space-around;
 /* position: relative; */
 
}

.menu .nav-item {
  list-style-type: none;
  /* position: relative; */
}




.menu li{
  list-style-type: none;
}
.menu a{
  text-decoration: solid;
}

.navbar button{
 margin-left: 2rem;
 background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
border-radius: 4px;
width: 95px;
height: 38px;
padding: 0.7rem;
border: none;
color: black;

}
.landing-menu{
  display: none;
}
.sub-pages{
 display: none;
}

.dropdown{
 /* align-items: center; */
 color: gold;
 text-decoration: none;
 margin-left: 2.5rem;
 /* margin-top: 0px; */
 display: flex;
 flex-direction: column;
 list-style-type: none;
 margin-top: 10px;
 color: gold;
 /* position: relative; */
 position: absolute;
 /* top: 100px; */
}
.dots{
 height: 100px;
 position: relative;
 right: -1050px;
 top: 100px
}
.section2-container{
 max-width: 950px;
 height: 638px;
 margin-left: auto;
 margin-right: auto;
background: #FFFFFF;
box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
border-radius: 10px;
position: relative;
top:-270px;
z-index: 1;
}

.section2{
 padding-left: 60px;
 padding-right: 60px;
}
.section2 .g{
 padding-top: 60px;
 width: 130px;
 margin-left: auto;
 margin-right: auto;
 color: rgba(74, 153, 211, 1);
 font-family: Objective;
 font-size: 24px;
 font-weight: 700px;
 border-bottom: 2px solid rgba(74, 153, 211, 1);
}
.sub-section2{
 display: flex;
 padding-left: 60px;
 padding-right: 60px;
 justify-content: space-between;
}
.first p{
 color: #0F001A;
 font-family: Objective;
font-size: 20px;
font-weight: 500;
line-height: 21px;
margin-top: 50px;
margin-bottom: 35px;

}
.form{
 display: flex;
 flex-direction: column;
 position: relative;

}
.first-name-label{
 background-color: white;
 position: absolute;
 top: -10px;
 left: 15px;
 z-index: 1;
}
.first-name{
width: 350px;
height: 50px;
border: 1.2px solid #B4BEC8;
border-radius: 4px;
padding: 21px 223px 12px 14px;
margin-bottom: 24px;
background-color: #FFFFFF;

}

.first-name::placeholder{
 font-size: 16px;
font-weight: 400;
width: 350px;
height: 18px;
color: #0F001A;
opacity: 0.8;
}

.email{
 width: 350px;
 height: 50px;
 border: 1.2px solid #B4BEC8;
border-radius: 4px;
padding: 21px 223px 12px 14px;
margin-bottom: 24px;
background-color: #FFFFFF;
}

.email::placeholder{
 color: #878787;
opacity: 0.8;
font-size: 14px;
width: 800px;
}
.text-here{
 width: 350px;
 height: 137px;
 border: 1.2px solid #B4BEC8;
border-radius: 4px;
position: relative;
}

.text-here::placeholder{
 position: absolute;
 top: 10px;
 left: 10px;
 color: #878787;
opacity: 0.8;
font-size: 16px;
}

.submit{
 width: 350px;
 height: 50px;
 background: #4A99D3;
 border-radius: 4px;
 border: none;
 margin-top: 40px;
font-size: 18px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #ffffff;

}
.gg{
 display:flex;
gap: 15px;
margin-bottom: 27px;
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;
 color: #0F001A;
}

.socialss img{
 margin-right: 20px;
}
.socialss{
 margin-bottom: 30px;
}

.dots2{
 position: relative;
 left: -50px;
 height: 100px;
}

.brown1{
 position: absolute;
 right: -283px;
 top: 680px;
}


.blue1{
 position: absolute;
 left: -285px;
 top: 680px;
}

footer{
 background-color: rgba(8, 19, 21, 1);
 
}
.footer1{
 display: flex;
 padding-left: 140px;
 justify-content: space-between;
 width: 95%;
}
.foot{
 padding-top: 88px;
 color: rgba(211, 214, 216, 1);
}
.foot a{
 display: flex;
 flex-direction: column;
 text-decoration: none;
 color: #fff;
}
.foot a:hover{
 text-decoration: underline;
 color: gold;
}
.fot1{
 margin-top: 20px;
font-size: 16px;
font-weight: 400px;
line-height: 28px;
}
.social-handles{
 margin-top: 32px;
}

.foote{
font-size: 18px;
font-weight: 700px;
color: #fff;
}
.fot{
 margin-top: 33px;
font-size: 16px;
font-weight: 400px;
}
.fote{
font-size: 16px;
font-weight: 400px;
margin-top: 25px;

}

.footer2{
 margin-top: 97px;
}
.footer2 img{
 position: relative;
 left: 750px;
}
.footer2 p{
 color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 700;
text-align: center;
padding-bottom: 74px;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
 .hero-section{
  padding-left: 30px;
  padding-right: 30px;
  height: 250px;
 }
 header{
  padding-top: 40px;
 }
 .hamburger{
  color: #fff;
  font-size: 35px;
  font-weight: bolder;
  display: block;
  position: absolute;
  right: 30px;
  top: 24px;
  cursor: pointer;
 }
 .close{
  position: absolute;
 top: 24px;
 right: 30px;
 }
 .menu{
  display: none;
  right: 0px;
  justify-content: center;
  width: 300px;
  background-color: #262626;
  height: 88vh;
  border-radius: 20% 0 0 60%;
  flex-direction: column;
  position: absolute;
  top: 12vh;
  text-align: center;
 }
 .show-menu{
  display: block;
 }
 .nav-item {
  list-style-type: none;
  margin: 45px;
 }

 .nav-links{
  color: #eee;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  margin-top: 40px;
 }
 .nav-links::before, 
 .nav-links::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: antiquewhite;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition-delay: 0.5s;
 }

 .nav-links::after{
  bottom: 0;
  transform-origin: right;

 }
 .nav-links::before{
  top: 0px;
  transform-origin: left;
 }

 .nav-links:hover::before, 
 .nav-links:hover::after{
  transform: scaleX(1);
 }
 .hide-hamburger {
   display: none;
 }
 .show-close {
  display: block;
}
.deactive {
 display: none;
}
 .dots{
  display: none;
 }
 .section2-container{
  max-width: 320px;
  height: 1000px;
 top:-80px;
 /* width: 85%; */
 }
 .section2 .g{
  padding-top: 40px;
 }
 .sub-section2{
  display: block;
  padding-left: 15px;
  padding-right: 15px;
 }
 .first p{
 margin-top: 40px;
 margin-bottom: 20px;
 margin-left: -40px;
 
 }
 .first-name, .email, .text-here{
 width: 290px;
 /* margin-bottom: 24px; */
 
 }
 
 .submit{
  width: 290px;
  margin-bottom: 0px;
 }
 .gg{
 margin-top: 20px;
 margin-bottom: 20px;
margin-left: 15px;
 }
 .location{
  width: 100%;
 }
 
 .socialss img{
  margin-right: 20px;
 }
 .socialss{
  margin-bottom: 30px;
  margin-left: 15px;
 }

 .dots2{
  display: none;
 }
 
 .brown1{
  display: none;
 }
 
 .blue1{
  display: none;
 }
 footer{
  position: absolute;
  bottom: -1500px;
 }
 
 .footer1{
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
 }
 .foot{
  padding-top: 30px;
 }
 .fot1{
  margin-top: 10px;
 }
 .social-handles{
  margin-top: 20px;
 }
 
 .fot{
  margin-top: 15px;
 }
 .fote{
 margin-top: 15px;
 }
 
 .footer2{
  margin-top: 27px;
 }
 .footer2 img{
  position: relative;
  left: 135px;
 }
 .footer2 p{
 padding-bottom: 34px;
 }
}